.banners {
  background: $icon-color;
  margin-top: 5px;

  button {
    margin-top: 20px;
  }

  &__wrapper {
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $icon-color;
  }

  .link_wrapper {
    padding: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $background-basic-color;

    @include mobile {
      padding: 5% 0;
      font-size: 10px;
      flex-direction: column;
    }

    a {
      flex: 1;
      text-decoration: none;
    }

    h3 {
      flex: 1;

      @include mobile {
        flex: 2;
        font-size: 10px;
      }
    }
  }

  &__icon {
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    visibility: hidden;

    i {
      color: $font-color;
    }
  }

  .link_wrapper:hover {
    background-color: $background-basic-color;
    cursor: pointer;

    .links__icon {
      visibility: visible;
    }

    i:hover {
      color: $buttons-color;
    }

    i.icon-trash:hover {
      color: $sidebar-background-color;
    }
  }
}
