.general_statistic {
  background: $icon-color;
  padding-bottom: 20px;
  background: $sidebar-font-color;

  .dates_form_wrraper {
    padding: 20px 20%;
    display: flex;
    justify-content: center;

    button {
      margin: 0 5px;
    }

    input {
      border-style: none;
      border: 1px solid $background-basic-color;
    }

    input[type=date][class=date_picker] {
      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }
}

.table_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20%;

  .table {
    margin-left: 20px;
    flex: 35%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $background-basic-color;
    padding: 10px;
  }

  @include mobile {
    flex-direction: column;
  }
}

.chart_statistic_wrapper {
  padding: 20px 5%;
  display: flex;
  flex-direction: column;

  canvas {
    margin: 0 auto;
    max-width: 80%;

    @include mobile {
      max-width: 100%;
    }
  }
}
