#page-content-wrapper {
  padding-top: 43px;
  padding-left: 150px;
  transition: .2s .2s ease-in-out;
  -webkit-transition: .2s .2s ease-in-out;
  -moz-transition: .2s .2s ease-in-out;
  -ms-transition: .2s .2s ease-in-out;
  -o-transition: .2s .2s ease-in-out;

  @include mobile {
    padding-left: 35px;
    padding-top: 5px;
  }
}

#page-content-wrapper>* {
  display: none;
}

#page-content-wrapper>.active {
  display: block;
}

#wrapper.menuDisplayed #page-content-wrapper {
  padding-left: 35px;

  @include mobile {
    padding-left: 150px;
  }
}
