#page-conntent-wrapper {
  position: absolute;
  padding-top: 43px;
}

.container-fluid {
  background: $icon-color;
  margin-bottom: 5px;
}

#wrapper.menuDisplayed #page-conntent-wrapper {
  padding-left: 200px;
}

