#sidebar-wrapper {
  z-index: 1;
  background-color: $sidebar-background-color;
  position: fixed;
  width: 200px;
  height: 100vh;
  overflow-y: hidden;
  left: 0;
  transition: transform .5s .5s ease-in-out;
  -webkit-transition: transform .5s .5s ease-in-out;
  -moz-transition: transform .5s .5s ease-in-out;
  -ms-transition: transform .5s .5s ease-in-out;
  -o-transition: transform .5s .5s ease-in-out;

  .logo {
    font-size: 25px;
    font-family: $logo-font;
    padding: 5px;

    @include mobile {
      font-size: 22px;
    }
  }

  a.extra {
    display: none;
  }

  @include mobile {
    width: 130px;

    a.extra {
      display: flex;
    }
  }
}

#wrapper.menuDisplayed #sidebar-wrapper {
  width: 35px;
  padding-top: 35px;
  overflow: hidden;

  .logo {
    display: none;
  }

  a {
    display: inline-block;
  }

  a span {
    display: none;
  }

  .manager_box {
    display: none;
  }

  a.extra {
    display: none;
  }

  @include mobile {
    a.extra {
      display: flex;
    }
  }
}


.sidebar-nav {
  padding-left: 5px;

}

.sidebar-nav a {
  min-height: 40px;
  padding: 14px 0;
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.sidebar-nav a:hover {
  background: $sidebar-background-color;
  border-left: 5px solid $buttons-color;
  color: $sidebar-font-color;
}

.sidebar-nav i {
  padding: 3px;
}

.manager_box {
  margin: 20px auto;
}

.photo {
  position: relative;
  margin: 20px auto;
  display: flex;
  align-items: center;
  color: $sidebar-font-color;
  font-style: italic;

  p {
    color: rgb(73, 95, 197);
  }
}

.photo__manager {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  float: left;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  object-fit: cover;
}

div.photo::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $brand-3-color;
  position: absolute;
  left: 25px;
  top: 3px;
  z-index: 100;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
