#topbar-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 35px;
  position: fixed;
  left: -20px;
  width: 100vw;
  background-color: $sidebar-font-color;

  a {
    // border: 1px solid $font-color;
    height: 35px;
    text-decoration: none;
    margin-left: 3px;
    padding: 6px 10px;
    border-left: 2px solid $background-basic-color;
  }
}

a:hover {
  background-color: $background-basic-color;
}

#kropka {
  position: relative;
}

a#kropka::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $brand-3-color;
  position: absolute;
  left: 55%;
  z-index: 100;
}
