*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $font-color;
}

body {
  background-color: $background-basic-color;
  font-family: $paragraph-font;
  font-size: $paragraph-font-size;
}

#wrapper {
  padding: 0 10px;
}
