@mixin description($background-color) {
  background-color: $background-color;
  width: 50px;
  height: 18px;
  font-size: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4%;
  -webkit-border-radius: 4%;
  -moz-border-radius: 4%;
  -ms-border-radius: 4%;
  -o-border-radius: 4%;
}

@mixin circle($background-color) {
  height: 8px;
  width: 8px;
  background-color: $background-color;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}


$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@include tablet {
  padding-left: 100px;
}
