/* Colors */
$sidebar-background-color: #000000;
$buttons-color: #FF9A38;
$brand-2-color: #80BFCA;
$brand-3-color: #279B4D;
$font-color: #8c8f8d;
$icon-color: #f8f9fa;
$sidebar-font-color: #ffffff;
$background-basic-color: #ebebeb;

/* Font sizes */
$font-size:13px;

/* Fonts */
$paragraph-font: 'Open Sans',sans-serif;
$logo-font: 'Dancing Script',cursive;
