.button__orange {
  background-color: $buttons-color;
  border: none;
  height: 40px;
  width: 120px;
  color: $sidebar-font-color;
  border-radius: 4%;
  -webkit-border-radius: 4%;
  -moz-border-radius: 4%;
  -ms-border-radius: 4%;
  -o-border-radius: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__orange:hover {
  cursor: pointer;
  opacity: 0.85;

}

.button__orange:active {
  background-color: #fa5300;
  // outline: none;
}

.button__orange:focus {
  outline: none;
}
