@mixin button {
  border: none;
  color: $sidebar-font-color;
  border-radius:4px;
  padding: 3px;
}

.button__orange {
  @include button;
  background-color: $buttons-color;
}

.button__orange:hover {
  cursor: pointer;
  opacity: 0.85;

}
